body {
 font-family: 'Work Sans', sans-serif;
}
h1 {
 font-family: 'Merriweather', serif;
}
h2 {
 font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
h3, h4, h5, h6 {
 font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
blockquote {
  margin: 1em auto;
  padding: 1em;
  box-sizing: border-box;
  border-left: 0.25em solid #e5e4e1;
  font-style: italic;
  font-weight: 400;
  background: #faf9f7;
}
blockquote p {
  margin: 0em;
}