body {
 font-family: 'Work Sans', sans-serif;
}
h1 {
 font-family: 'Merriweather', serif;
}
h2 {
 font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
}
h3, h4, h5, h6 {
 font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 3rem;
}
blockquote {
  margin: 1em auto;
  padding: 1em;
  box-sizing: border-box;
  border-left: 0.25em solid #e5e4e1;
  font-style: italic;
  font-weight: 400;
  background: #faf9f7;
}
blockquote p {
  margin: 0em;
}
.button.button-primary {
  width: 100%;
  background-color: #26719f;
  background-image: linear-gradient(-180deg,#2f8fcb,#26719f 90%);
  background-position: -.5em;
  border-color: rgba(17, 14, 94, 0.5);
}
.button.button-primary:hover {
  background-color: #205f85;
  background-image: linear-gradient(-180deg,#2572a2,#205f85 90%);
  background-position: -.5em;
  border-color: rgba(8, 7, 32, 0.75);
}